<% if @posts.any? %>
  <% @posts.each do |post| %>

    <section id="post-group">
      <section id="post-details">
        <%= image_tag 'test_avatar.jpg', class: 'avatar-post' %>
        <p><span id="username-post"><%= post.username %></span><br><span id="time-since-post">x hours ago</span></p>
      </section>

      <section id="main-element">
        <section id="whole-post">

        <section id="picture">
        <%= image_tag post.image.url(:main), class: 'photo' %>
        </section>

        <section id="picture-stats">
          <p class="comment-text"><%= link_to "Delete Post", post_path(post), method: :delete %></p>
        </section>

        <ul id="comments">
        <section id="picture-comments">
        <li>
        <span class="comment-username"><%= post.username %></span><span class="comment-text"><%= post.comment %></span>
        </li>


        <% if post.comments.any? %>
          <% post.comments.each do |comment| %>
            <li>
            <span class="comment-username"><%= comment.username %></span><span class="comment-text"><%= comment.comments %></span>  
            </li>
          <% end %>
        <% end %>

        </section>
        </ul>

        <section id="submit-comments">
        <textarea id="comment-box" placeholder="Write a comment..."></textarea>
        </section>

        </section>
      </section>

      <section id="blank-filler">
        <p>
      </section>

    </section>

  <% end %>

<% else %>

  <section id="post-group-no-post">

    <section id="post-details">
    </section>

    <section id="main-element-no-post">
      <section id="whole-post-no-post">

      <ul id="comments">
      <section id="no-post">
      <li>
      <span class="comment-username">No posts</span>
      <p><span class="comment-text"><%= link_to "Post", new_post_path %></span>
      </li>
      </section>
      </ul>

      </section>

    </section>

    <section id="blank-filler">
      <p>
    </section>

  </section>

<% end %>