<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'browser_icon.ico' %>
  
  <title>Instagram</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

  <script>
  $(document).ready(function() {
    $("abbr.timeago").timeago();
  });
  </script>

<body>

<nav>

<div class="nav_element_group">
  <%= link_to(posts_path) do %>
  <div class="header-box">
  </div>
  <% end %>
  <div class="post-box">
    <% if user_signed_in? %>
      <%= link_to (image_tag 'cameraicon.png', :class => "post-image"), new_post_path %>
    <% else %>
    <% end %>
  </div>

  <div class="logo-box">
  <%= link_to (image_tag 'logo.svg', :class => "logo-image"), posts_path %>
  </div>

  <div class="username-box">
    <% if user_signed_in? %>
    <%= image_tag 'user_avatar.jpg', :class => "avatar-image" %><span id="username-text"><%= current_user.username %></span>
      <% else %>
    <% end %>
  </div>
  <div class="sign-out-box">
    <% if user_signed_in? %>
      <%= link_to (image_tag 'sign_out.png', :class => "sign-out-image"), destroy_user_session_path, method: :delete %>
    <% else %>
    <% end %>
  </div>
</div>

</nav>

<%= yield %>

</body>
</html>
