<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'browser_icon.ico' %>
<!--   <link rel="shortcut icon" href="http://d36xtkk24g8jdx.cloudfront.net/bluebar/2dc26eb/images/ico/favicon.ico"> -->
  <title>Instagram</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>

<div class="nav_element_group">
  <%= link_to(posts_path) do %>
  <div class="header-box">
  </div>
  <% end %>
  <div class="post-box">
    <% if user_signed_in? %>
      <%= link_to (image_tag 'cameraicon.png', :class => "post-image"), new_post_path %>
    <% else %>
    <% end %>
  </div>

  <div class="logo-box">
  <%= link_to (image_tag 'logo.svg', :class => "logo-image"), posts_path %>
  </div>

  <div class="username-box">
  <%= image_tag 'user_avatar.jpg', :class => "avatar-image" %><span id="username-text">username</span>
  </div>
  <div class="sign-out-box">
    <% if user_signed_in? %>
      <%= link_to (image_tag 'sign_out.png', :class => "sign-out-image"), destroy_user_session_path, method: :delete %>
    <% else %>
    <% end %>
  </div>
</div>

</nav>

<%= yield %>

</body>
</html>
