<!DOCTYPE html>
<html>
<head>
  <title>Instagram</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>

<div class="nav_element_group">

<div class="header-box">

</div>

<div class="logo-box">
<%= image_tag 'logo.svg', :class => "logo-image" %>
</div>

<div class="username-box">
<%= image_tag 'user_avatar.jpg', :class => "avatar-image" %><span id="username-text">username</span>
</div>


</div>

</nav>
<content>
<%= yield %>
</content>


<aside class="left-sidebar">
</aside>


<aside class="right-sidebar">
</aside>



</body>
</html>
